

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            {#
            <a class="navbar-brand" href="{{ path('chaire_accueil_homepage') }}"><img style="width:70px;" src="http://s3.amazonaws.com/foundum-com-uploads/organization_account_image_uploads/6985/images/medium/LogoChaireEEE_newEY-04.png?1384167185"/></a>
        #}</div>
        <ul class="nav navbar-nav">

        </ul>
        <ul class="nav navbar-nav navbar-right">

           {# <li><a  id="event"  href={{ path('chaire_event_homepage') }}>Evenements</a></li>
            <li><a  id="team" href={{ path('chaire_accueil_homepage') }}>ChaireEEE team</a></li>
            <li><a  id="formation" href={{ path('chaire_formation_homepage') }}>Formation</a></li>
            <li><a  id="accompagnement" href={{ path('chaire_accueil_homepage') }}>Accompagnement</a></li>

            #}
        </ul>
    </div>
</div>


