<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> {{ page.name }}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href={{ asset('public/css/bootstrap.css') }} >
    <link rel="stylesheet" href={{ asset('public/css/styleonepage.css') }} >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>



<!-- Fixed navbar -->
<div class="navbar-fixed-top" role="navigation" id="header">
    <div class="container">

{#
            <div class="row">
                <div class="col-xs-offset-1 col-xs-5">
                    <a data-scroll href="#top"><img class="img_header" src="{{ asset('uploads/img/generateur/'~page.logo.id~'.'~page.logo.url) }}"  > <h3 style="display:inline;">{{ page.name }}</h3></a>
                </div>
                <div class="col-xs-6">
                    {% for ti in title %}
                        <a data-scroll href="#i{{ link[loop.index0] }}">{{ ti }}</a>
                    {% endfor %}
                </div>
            </div>
            #}

            <ul class="nav navbar-nav">
            {#    <li><a data-scroll href=""><img style="width:90px;" src="{{ asset('bundles/chaireaccueil/images/logo_chairEEE_header.png') }}" width="210" ></a></li>#}
               <li><a data-scroll onclick="ScrollToElement('#header')"><img style="max-width:150px; max-height: 50px; " src="{{ asset('uploads/img/generateur/'~page.logo.id~'.'~page.logo.url) }}"  ></a></li>
               <li><h3>{{ page.name }}</h3></li>
           </ul>

           <ul class="nav navbar-nav navbar-right " style="position:relative; top:20px;">

               {% for ti in title %}
                   <li><a  onclick="ScrollToElement('#i{{link[loop.index0]}}')">{{ ti }}</a></li>
               {% endfor %}
            </ul>


    </div>
</div>


<!-- HOME SCREEN -->
<div class="homie" id="top">
    <!--  <a data-scroll href="#intercalgrandjury"><img class="img-responsive reza" src="MadeInreza-27.png" width="120"></a> -->
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 textcenter whitetext">
            <p><br><br><br><br><br><br><br>
                  <img class=" img_center img-responsive img-front" src="{{ asset( page.logo.getWebPath ) }}">

            <p class="textcenter">


            <h1 class="white">{{  page.name }}</h1>
            <br><br><h3 class="white">{{ page.baseline | raw }}</h3>

            </p><br>
           {#
            <a data-scroll href="#apply">
                <button type="button" class="btn btn-default btn-md "></button>
            </a>
            #}
        </div>



    </div>
    <div class="row">
    <div class="col-md-12"><br><br><br><br><br><br></div>
    </div>
</div>


{% block slide %}

    {%  for slide in slides %}
        {{ slide|raw  }}
    {% endfor %}

{% endblock slide %}


<div class="footer">
    <div class="container">
        <div class="row" >
            <div class="col-md-1">powered by

            </div>

            <div class="col-md-4">
                <a href="http://www.chaireeee.eu" target="_blank">
                    Arthur Moll
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ path("generateur_edit_page",{'id':page.id}) }}"> Mode Edition </a>
            </div>
            <div class="col-md-3">
                <a href="http://www.nrdwnc.fr">

                </a>
                <a href="mailto:arth.dev@gmail.com">Contact</a>
                - <a href="#">Back to top</a>
            </div>
        </div>
    </div>
</div>



<style>

    .homie {
        /*background: url( http://localhost{#}{{ asset('uploads/img/generateur/'~page.homie.id~'.'~page.homie.url) }}#} );
       */
        background: url( {{ host }}/{{ page.homie.getWebPath }} );
        min-height: 700px;
        margin-top: -20px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        color: white;
    }

    .whitetext h5{
        color:white;
        font-size:18px;
    }

    .navbar
    {
        background-color:white;
    }
    .navbar-default
    {
        background-color:white;
        box-shadow: none;
        background-image: none;
    }

    /* texte navbar */
    .navbar-default .navbar-nav > li > a {
        font-size:17px;
    }

    .img-front{
        max-height: 100%;
        width:150px;
    }


</style>

<script>
    function ScrollToElement(selector)
    {
        $('body').scrollTo($(selector).position().top-$('#header').height() ,600);
    }
</script>