<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

<div class="row" style="padding-top: 100px;">
    <div class="col-md-offset-2 col-md-8">
       <div class="row">

           <div class="col-md-4" style="padding-top:30px; ">
               <a href="{{ path('generateur_add_slide1_to_page',{'idpage':id}) }}">
                   <img style="width:250px;" src="{{ asset('uploads/img/template/1.jpg') }}">
               </a>
           </div>

           <div class="col-md-4" style="padding-top:30px; ">
               <a href="{{ path('generateur_add_slide2_to_page',{'idpage':id}) }}">
               <img style="width:250px;"  src="{{ asset('uploads/img/template/2.jpg') }}">
               </a>
           </div>

           <div class="col-md-4" style="padding-top:30px; ">
               <a href="{{ path('generateur_add_slide3_to_page',{'idpage':id}) }}">
                   <img style="width:250px;"  src="{{ asset('uploads/img/template/3.jpg') }}">
               </a>
           </div>

           <div class="col-md-4" style="padding-top:30px; ">
               <a href="{{ path('generateur_add_slide4_to_page',{'idpage':id}) }}">
                   <img style="width:250px;"  src="{{ asset('uploads/img/template/4.jpg') }}">
               </a>
           </div>

           <div class="col-md-4" style="padding-top:30px; ">
               <a href="{{ path('generateur_add_slide5_to_page',{'idpage':id}) }}">
                   <img style="width:250px;"  src="{{ asset('uploads/img/template/5.jpg') }}">
               </a>
           </div>

           <div class="col-md-4" style="padding-top:30px; ">
               <a href="{{ path('generateur_add_slide6_to_page',{'idpage':id}) }}">
                   <img style="width:250px;"  src="{{ asset('uploads/img/template/6.jpg') }}">
               </a>
           </div>

           <div class="col-md-4" style="padding-top:30px; ">
               <a href="{{ path('generateur_add_slide7_to_page',{'idpage':id}) }}">
                   <img style="width:250px;"  src="{{ asset('uploads/img/template/7.jpg') }}">
               </a>
           </div>

           <div class="col-md-4" style="padding-top:30px; ">
               <a href="{{ path('generateur_add_slide8_to_page',{'idpage':id}) }}">
                   <img style="width:250px;"  src="{{ asset('uploads/img/template/8.jpg') }}">
               </a>
           </div>


       </div>
    </div>

</div>

