{# A supprimer par la suite
<link rel="stylesheet" href={{ asset('public/css/bootstrap.css') }} >
<link rel="stylesheet" href={{ asset('public/css/styleonepage.css') }} >
{# END of A supprimer par la suite #}



<!-- INSCRIPTION GRAND JURY -->
<div class="grandjury" id="i{{ slide.id }}">
    <div class="container">

        <h3 class="textcenter">{{ slide.name }}</h3>
        <div class="container">
            <br><h3 class="textcenter"></h3><br>
            <div class="row">

                <div class="justify col-md-12 textcenter">

                    {{ slide.texte| raw }}

                </div>


                <div style="padding-top: 40px;" class=" col-md-6 textcenter">
                    <img style="" class="img-responsive center-block" src="{{ asset(slide.photo1.webPath) }}">

                </div>
                <div style="padding-top: 40px;" class=" col-md-6 textcenter">
                    <img style="" class="img-responsive center-block" src="{{ asset(slide.photo2.webPath) }}">

                </div>






            </div>

        </div><br><br>
    </div>



</div><br><br>
</div>

<!-- INTERCAL 3 -->

<div class="t{{ slide.photo1.id }}" id="t{{ slide.photo1.id }}" >

</div>


<style>
    .t{{ slide.photo1.id }} {

        background: url( {{ host }}/{{ slide.fond.getWebPath }} );
        min-height: 350px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>